<div class="container">
    <app-menu> </app-menu>
    <div class="base-container">
        <div class="titulo">
            <h3> Professores </h3>
            <div class="botaoCadastrar">
                <p-button (click)="cadastrarProf()" styleClass="p-button-rounded p-button-warning p-button-sm" label="Cadastrar">
                </p-button>
            </div>
            <div class="prof-container">
                <ng-container>
                    <app-prof-card> </app-prof-card>
                    <app-prof-card> </app-prof-card>
                    <app-prof-card> </app-prof-card>
                    <app-prof-card> </app-prof-card>
                    <app-prof-card> </app-prof-card>

                  
                </ng-container>
            </div>

            <p-dialog header="Cadastrar Professor" [(visible)]="visible" [style]="{width: '28vw', height:'36vw' }">
                <div class="InputNome">
                    <div>
                        <label htmlFor="username">Nome</label>
                        <input pInputText id="username" />

                    </div>
                </div>
                <div class="InputCelular">
                    <div>
                        <label htmlFor="celular">Celular</label>
                        <input pInputText id="celular" />

                    </div>
                </div>
                <div class="InputRedeSocial">
                    <div>
                        <label htmlFor="redeSocial">Rede Social</label>
                        <input pInputText id="redeSocial" />

                    </div>
                </div>

                <div class="botaoSalvar">
                    <p-button styleClass="p-button-rounded p-button-warning" label="Salvar"> </p-button>
                </div>
            </p-dialog>
        </div>
    </div>
</div>