<div class="container">
    <app-menu> </app-menu>
    <div class="base-container">
        <div class="titulo">
            <h3> Professores </h3>
            <div class="botaoCadastrar">
                <p-button (click)="cadastrarProf()" styleClass="p-button-rounded p-button-warning p-button-sm"
                    label="Cadastrar">
                </p-button>
            </div>
            <div>
                <ng-container>
                    <app-prof-card class="prof-container"> </app-prof-card>

                </ng-container>
                <p-dialog header="Cadastrar Professor" [(visible)]="visible" [style]="{width: '28vw', height:'36vw' }">
                        <div class="InputNome">
                            <div>
                                <form class="needs-validation" novalidate [formGroup]="form">
                                    <label htmlFor="username">Nome</label>
                                    <input 
                                        class= "form-control" 
                                        pInputText id="name" 
                                        formControlName="name"
                                    />
                                </form>
                            </div>
                        </div>
                        <div class="InputRedeSocial">
                            <div>
                                <form class="needs-validation" novalidate [formGroup]="form">
                                    <label htmlFor="redeSocial">Rede Social</label>
                                    <input 
                                        class= "form-control" 
                                        pInputText id="socialNetwork" 
                                        formControlName="socialNetwork"
                                    />
                                </form>
                            </div>
                        </div>
                        <div class="InputCelular">
                            <div>
                                <form class="needs-validation" novalidate [formGroup]="form">
                                    <label htmlFor="celular">Celular</label>
                                    <input 
                                        class= "form-control" 
                                        pInputText id="numberPhone" 
                                        formControlName="numberPhone"
                                    />
                                </form>
                            </div>
                        </div>
                        <div class="botaoSalvar">
                            <p-toast position="bottom-center" key="bc"></p-toast>
                            <p-button (click)="salvarProfessor()" styleClass="p-button-rounded p-button-warning" label="Salvar">
                           </p-button>
                        </div>
                </p-dialog>
            </div>
        </div>
    </div>
</div>