<div class="container">
    <app-menu> </app-menu>
    <div class="base-container">
        <div class="titulo">
            <h3> Planos </h3>
            <div class="botaoCadastrar">
                <p-button (click)="cadastrarPlano()" styleClass="p-button-rounded p-button-warning p-button-sm"
                    label="Cadastrar">
                </p-button>
            </div>
            <div>
                <ng-container>
                    <app-plano-card class="plano-container"></app-plano-card>
                </ng-container>
                <p-dialog header="Cadastrar Plano" [(visible)]="visible" [style]="{width: '28vw', height:'30vw'}">
                    <div class="InputPlano">
                        <div>
                            <form class="needs-validation" novalidate [formGroup]="form">
                                <label htmlFor="plano">Plano</label>
                                <input 
                                    class= "form-control" 
                                    pInputText id="namePlan" 
                                    formControlName="namePlan"
                                    />
                                
                            </form>
                        </div>
                    </div>
                    <div class="InputHorario">
                        <div>
                            <form class="needs-validadtion" novalidate [formGroup]="form">
                                <label htmlFor="valor">Valor</label>
                                <input class= "form-control" pInputText id="valor" formControlName="valuePlan" />
                            </form>
                        </div>
                    </div>
                    <div class="botaoSalvar">
                        <p-toast position="bottom-center" key="bc"></p-toast>
                        <p-button (click)="salvarPlano()" styleClass="p-button-rounded p-button-warning" label="Salvar"> </p-button>
                    </div>
                </p-dialog>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>