<div class="container">
    <div id="item-login">
        <p-card class="card">
            <div class="text-center">
                <div style="padding-top: 1em"> 
                    <h2>Gym management</h2>
                </div>
                <div class="textoLogin"> 
                    <h3>Login</h3>
                </div>
                <div class="textoEmailSenha"> 
                    <h5>Digite e-mail e senha para entrar:</h5>
                </div>
                <div class="InputEmail">
                    <input 
                    id="emailI"
                    style="border: none" 
                    [(ngModel)]="requestLogin.login" 
                    type="text" 
                    pInputText 
                    placeholder="e-mail"/> 
                </div>
                <div class="InputSenha">
                    <input 
                    id="senhaI"
                    style="border: none" 
                    [(ngModel)]="requestLogin.password" 
                    type="password" 
                    pInputText  
                    placeholder="senha"/> 
                </div>
                <div class="botao">
                    <p-button 
                    id="entrarB"
                    (click)="doLogin()" 
                    styleClass="p-button-rounded p-button-warning" 
                    label="Entrar"> </p-button>  
                </div>
            </div>
        </p-card>
    </div>
</div> 