$font-color: #FCA311 !important;
$font-color2: #fff !important;

.profCard {
    .p-card-body{
        background-color: rgba(255, 255, 255, 0) !important;
        border: solid;
        border-color: #ffffff;
        border-radius: 25px;
        border-width: 1px;
        color: $font-color2;
        margin: 3%;
        min-width: 160px;
        max-width: 160px;
        max-height: 200px;
        min-height: 200px;
        text-align: center;
    }
}
.deleteButton{
    display: none;
    position: absolute;
    margin-top: -4em;
    margin-left: 3em;
    .p-button.p-button-icon-only.p-button-rounded {
        border-radius: 50%;
        height: 2em;
        width: 2em;
    }
}

.profCard:hover {
    .deleteButton{
        display: inline-block;}

}