<div class="titulo">
    <h3>Alunos</h3>
    <div class="cardBase">
        <p-table [value]=students [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            [tableStyle]="{'min-width': '50rem'}" styleClass="myTable"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 20, 50]">

            <ng-template pTemplate="header">
                <div class="search">
                    <div class="inputSearch">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="value1"
                                placeholder="Procurar aluno" />
                        </span>
                    </div>
                </div>
                <tr>
                    <th style="width: 1rem">
                    </th>
                    <th>Matrícula</th>
                    <th>Nome</th>
                    <th>Plano</th>
                    <th>Situação</th>
                    <th>Status de Pagamento</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-students>
                <tr (click)="abrirDetalheAluno(students.id)">
                    <td class="linhacheckbox">
                    </td>
                    <td>{{ students.id }}</td>
                    <td>{{ students.name }}</td>
                    <td>{{ students.plan.namePlan }}</td>
                    <td>{{ students.situation }}</td>
                    <td>{{ students.paymentStatus }}</td>
                </tr>

            </ng-template>
            <ng-template pTemplate="paginatorleft">
            </ng-template>
            <ng-template pTemplate="paginatorright">
            </ng-template>
        </p-table>
    </div>

</div>