$background-color: #000000 !important;
$font-color: #FCA311 !important;
$font-color2: #fff !important;
$font-family1: 'Roboto', sans-serif;
$font-size1: 12pt;
$font-sizeMenu: 16px;
.container{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.menu-container{
    display: flex;
    justify-content: left;  
    opacity: 0.92;
    border-radius: 15px;
    margin-left: 0em;
    background-color: black;
    height: 100%;
    min-width: 200px;
    width: 200px;
}
.base-container{
    display: flex;
    position: relative;
    float: right;
    height: 100%;
    width: 1000px;
    min-width: 1000px;
    background-color: rgb(0, 0, 0);
    opacity: 0.92;
    border-radius: 15px;
    margin-left: 3em;    
    margin-top: 0;
}
.fin-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 60%;
    min-width: 740px;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.fin-container2{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 60%;
    min-width: 740px;
    flex-wrap: wrap;
    justify-content: space-between;
    :nth-child(2){
        margin-right: 1.8em;
    }
    :nth-child(3){
        margin-right: -1.6em;
    }
   
}

.per-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 60%;
    min-width: 740px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 1em;
    margin-top: 1em;
}
.calendar-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 60%;
    min-width: 740px;
    flex-wrap: wrap;
    justify-content: space-between;
    // margin-left: 1em;
    margin-top: 1em;
    :nth-child(1){
        margin-left: 0.2em;
    }
    :nth-child(2){
        margin-right: -5em;
    }
    :nth-child(3){
        margin-right: -1.6em;
    }
}
.cardBaseU{
    margin-top: 1em;
    margin-left: 0.1em; 
    border: solid;
    border-color: #ffffff; 
    border-radius: 15px;
    border-width: 2px;
    width: 110%;
    height: 100%;
    max-height: 200px;
    min-height: 200px;
}
.cardBaseD{
    margin-top: 1.5em;
    margin-left: 0.2em; 
    border: solid;
    border-color: #ffffff; 
    border-radius: 15px;
    border-width: 2px;
    width: 110%;
    height: 100%;
    min-height: 200px;
}
.p-input-icon-left{
    margin-top: 1em;
}
.menucus {
    background-color: transparent;
    border-color: transparent;   
    height: 100%;
    margin-top: 4em;           
}
// .botaoEnviar{

// }
.menucus ul li:nth-child(1) {
    margin-top: 0em;   
}
.menucus ul li:nth-child(6) {
    margin-top: 15em;
}    
.p-menuitem{
    font-weight: bold;
    font-family: $font-family1;
}
.p-menuitem-link:not(.p-disable):hover{
    background-color: #595959 !important;
}
.p-menuitem-text{   
    color: #fff ! important;
    font-size: $font-sizeMenu;
}
.p-menu-separator{
    border-top: 2.5px solid #FCA311! important;
    margin-left: 0%;
    margin-top: 5em;
}
.p-tieredmenu .p-menu-separator {
    border-top: 1px solid #dee2e6;
    margin: 4rem 0;
}
.iconeSair{
    margin-top: 33em;
    margin-left: -10em;
}
.p-button-text{
    color: $font-color;
}
.textoFooter{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 32.5em;
    margin-left: 0.6em;
    position: relative;
}
.tituloMenu{
    color: $font-color;
    text-align: center;
    margin-top: 0em;
    margin-left: 1.3em;
    position: absolute;
    border: none;
    font-size: 18px;
    font-weight: bold; 
}
.titulo{
    color: $font-color2;
    text-align: left;
    margin-top: 0em;
    margin-left: 2em;
    border: none;
    height: 100%;
}
.tituloGR{
    color: $font-color;
    margin-top: 1em;
    margin-left: 1em;
    font-weight: bold;
}
.p-datatable.myTable{
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
}
.p-datatable.myTable th{
    background: rgb(0, 0, 0) ! important;
    color: $font-color;
}
.p-datatable.myTable tr{
    background: rgb(0, 0, 0) ! important;
    color: $font-color2;
}
.p-table.p-element{
    border-color: #fff !important;
}
.p-paginator{
    background-color: #000000;
    font-size: 10pt;
    color: #fff;
    border: none;
}
.p-datatable .p-paginator-bottom{
    border-width: 0;
}

.tableFin{
    .p-datatable .p-datatable-tbody > tr > td {
        text-align: left;
        border: 1px solid #dee2e6;
        border-width: 0 0 1px 0;
        padding: 0.1rem 0.1rem;
    }
    .p-datatable .p-datatable-thead > tr > th {
        padding: 0.09em 1em;
    }
    .p-datatable-table {
        margin-left: 1em;
    }
}
// .treetableDate .ui-widget-content{
//     width: 30%; // or in pixel depends how much width you want.
// }
.treetableDate{
    .p-calendar .p-inputtext {
        flex: 1 1 auto;
        width: 200px;
        height: 40px;
    }
}
// .p-calendar .p-inputtext {
//     flex: 1 1 auto;
//     width: 2%;
// }
.p-checkbox .p-checkbox-box {

    background: #000000;
}
.buscarButton{
    margin-top: 0.4em;
}
