

<div class="container base-container">

  <div class="detalhes">
    <div>
      <label for="id">Matrícula
        <span id="id">  {{ student.id }}</span>
      </label>

      <label>Nome
        <span> {{ student.name }}</span>
      </label>
      <label>Email
        <span>  EM HAVER</span>
      </label>
      <label>Sexo
        <span> EM Haver</span>
      </label>
      <label>Data Nascimento
        <span> {{ student.birthDate }}</span>
      </label>
    </div>


    <div>
      <label>Situação
      <span> {{ student.situation }}</span>
      </label>
      <label>Status de Pagamento
        <span> {{ student.paymentStatus }}</span>
      </label>
      <label>Telefone
        <span> Em Haver</span>
      </label>
      <label>Instagram
        <span>Instagram {{ student.paymentStatus }}</span>
      </label>
      <label>Plano
        <span>Instagram {{ student.paymentStatus }}</span>
      </label>
   </div>

  </div>

   <div>
    <span>Medidas  Em Haver</span>
   </div>

</div>



