<div class="menu-container">
        <header class="tituloMenu">
            <p>Gym Management</p> 
        </header>              
        <p-tieredMenu [model]="items" styleClass="menucus" ></p-tieredMenu> 
        <span class="iconeSair">
            <p-button (click)="deslogar()" type="button" icon="pi pi-sign-out" styleClass="p-button-text"></p-button>
        </span>             
        <footer class="textoFooter">                
            <p>Admin</p> 
        </footer>              
</div>